<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.NOTIFICATION_POST" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.FreeSkills"
        tools:targetApi="31">
        <activity
            android:name=".setting.profilesetting"
            android:exported="false" />
        <activity
            android:name=".setting.GetCertificate"
            android:exported="false" />
        <activity
            android:name=".setting.WebViewActivity"
            android:exported="false" />
        <activity
            android:name=".MoreDisplay"
            android:exported="false" />

        <service
            android:name=".notifications.PushNotificationService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".login.profile.createprofilepackage.CreateProfile2"
            android:exported="false" />
        <activity
            android:name=".login.profile.createprofilepackage.CreateProfile1"
            android:exported="false" />
        <activity
            android:name=".videoplayer.VideoplayerActivity"
            android:exported="true"
            android:theme="@style/AppTheme">

            <!-- Add intent filter for HTTPS URLs -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="http" />
                <data android:host="freeskills.cyberspherestudio.com" />
                <data android:pathPrefix="/share" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="https" />
                <data android:host="freeskills.cyberspherestudio.com" />
                <data android:pathPrefix="/share" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notifications.Notification_Screen"
            android:label="Notification Screen" />
        <activity
            android:name=".joblist.Joblist"
            android:exported="false" />
        <activity
            android:name=".login.profile.PCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".login.Sign_up_Activity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".login.profile.createprofilepackage.CreateProfile" />
        <activity android:name=".onboarding.NavigationActivity" />
        <activity android:name=".onboarding.GetStarted" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Whitelist_fragment" />

        <receiver android:name=".notifications.NotificationReceiver" />
    </application>

</manifest>